USE [master]
GO
/****** Object:  Database [igroup14_prod]    Script Date: 26/06/2025 18:09:45 ******/
CREATE DATABASE [igroup14_prod]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'igroup14_prod', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.PROJDB\MSSQL\DATA\igroup14_prod.mdf' , SIZE = 36096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'igroup14_prod_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.PROJDB\MSSQL\DATA\igroup14_prod_log.ldf' , SIZE = 114432KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [igroup14_prod].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [igroup14_prod]
GO
USE [igroup14_prod]
GO
/****** Object:  User [sa]    Script Date: 26/06/2025 18:09:45 ******/
CREATE USER [sa] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[sa]
GO
/****** Object:  User [igroup14_DBuser]    Script Date: 26/06/2025 18:09:45 ******/
CREATE USER [igroup14_DBuser] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [igroup14_DBuser]
GO
/****** Object:  Table [dbo].[CalculatorItemCandidates]    Script Date: 26/06/2025 18:09:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CalculatorItemCandidates](
	[CandidateID] [int] IDENTITY(1,1) NOT NULL,
	[CustomItemName] [nvarchar](255) NOT NULL,
	[SuggestedPrice] [decimal](10, 2) NOT NULL,
	[SuggestedDescription] [nvarchar](255) NOT NULL,
	[Occurrences] [int] NULL,
	[IsCreated] [bit] NULL,
	[WasRejected] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[CandidateID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 26/06/2025 18:09:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[CustomerID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](255) NULL,
	[LastName] [nvarchar](255) NULL,
	[Phone] [nvarchar](50) NULL,
	[Email] [nvarchar](255) NULL,
	[CreatedAt] [datetime] NULL,
	[City] [nvarchar](255) NULL,
	[Street] [nvarchar](255) NULL,
	[Number] [nvarchar](50) NULL,
	[Notes] [nvarchar](255) NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CustomerFeedback]    Script Date: 26/06/2025 18:09:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerFeedback](
	[FeedbackID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NULL,
	[RequestID] [int] NULL,
	[Sent] [bit] NULL,
	[SentAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[FeedbackID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ParquetTypes]    Script Date: 26/06/2025 18:09:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ParquetTypes](
	[ParquetTypeID] [int] IDENTITY(1,1) NOT NULL,
	[TypeName] [nvarchar](255) NOT NULL,
	[PricePerUnit] [decimal](10, 2) NOT NULL,
	[IsActive] [bit] NULL,
	[ImageURL] [nvarchar](500) NULL,
	[Type] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ParquetTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PriceCalculatorItem]    Script Date: 26/06/2025 18:09:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PriceCalculatorItem](
	[CalculatorItemID] [int] IDENTITY(1,1) NOT NULL,
	[ItemName] [nvarchar](255) NULL,
	[Description] [nvarchar](255) NULL,
	[Price] [decimal](10, 2) NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[CalculatorItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Quote]    Script Date: 26/06/2025 18:09:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Quote](
	[QuoteID] [int] IDENTITY(1,1) NOT NULL,
	[RequestID] [int] NOT NULL,
	[CreatedAt] [datetime] NULL,
	[TotalPrice] [decimal](10, 2) NULL,
	[DiscountAmount] [decimal](10, 2) NULL,
	[DiscountPercent] [decimal](5, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[QuoteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuoteItem]    Script Date: 26/06/2025 18:09:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuoteItem](
	[QuoteItemID] [int] IDENTITY(1,1) NOT NULL,
	[QuoteID] [int] NOT NULL,
	[CalculatorItemID] [int] NULL,
	[CustomItemName] [nvarchar](255) NULL,
	[PriceForItem] [decimal](10, 2) NULL,
	[Quantity] [int] NULL,
	[FinalPrice] [decimal](10, 2) NULL,
	[Notes] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[QuoteItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ScheduleSlot]    Script Date: 26/06/2025 18:09:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ScheduleSlot](
	[SlotID] [int] IDENTITY(1,1) NOT NULL,
	[Date] [date] NULL,
	[Slot] [int] NULL,
	[Status] [nvarchar](50) NULL,
	[RequestID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[SlotID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SpaceDetails]    Script Date: 26/06/2025 18:09:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SpaceDetails](
	[SpaceID] [int] IDENTITY(1,1) NOT NULL,
	[RequestID] [int] NOT NULL,
	[Size] [decimal](10, 2) NULL,
	[FloorType] [nvarchar](100) NULL,
	[MediaURL] [nvarchar](255) NULL,
	[Notes] [nvarchar](max) NULL,
	[ParquetType] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[SpaceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WorkRequest]    Script Date: 26/06/2025 18:09:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkRequest](
	[RequestID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NOT NULL,
	[CreatedAt] [datetime] NULL,
	[Status] [nvarchar](50) NULL,
	[Notes] [nvarchar](255) NULL,
	[PlannedDate] [datetime] NULL,
	[CompletedDate] [datetime] NULL,
	[PreferredDate] [datetime] NULL,
	[PreferredSlot] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[RequestID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CalculatorItemCandidates] ADD  DEFAULT ((1)) FOR [Occurrences]
GO
ALTER TABLE [dbo].[CalculatorItemCandidates] ADD  DEFAULT ((0)) FOR [IsCreated]
GO
ALTER TABLE [dbo].[CalculatorItemCandidates] ADD  DEFAULT ((0)) FOR [WasRejected]
GO
ALTER TABLE [dbo].[Customer] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Customer] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[ParquetTypes] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Quote] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[WorkRequest] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[CustomerFeedback]  WITH CHECK ADD FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customer] ([CustomerID])
GO
ALTER TABLE [dbo].[CustomerFeedback]  WITH CHECK ADD FOREIGN KEY([RequestID])
REFERENCES [dbo].[WorkRequest] ([RequestID])
GO
ALTER TABLE [dbo].[Quote]  WITH CHECK ADD FOREIGN KEY([RequestID])
REFERENCES [dbo].[WorkRequest] ([RequestID])
GO
ALTER TABLE [dbo].[QuoteItem]  WITH CHECK ADD FOREIGN KEY([CalculatorItemID])
REFERENCES [dbo].[PriceCalculatorItem] ([CalculatorItemID])
GO
ALTER TABLE [dbo].[QuoteItem]  WITH CHECK ADD FOREIGN KEY([QuoteID])
REFERENCES [dbo].[Quote] ([QuoteID])
GO
ALTER TABLE [dbo].[ScheduleSlot]  WITH CHECK ADD FOREIGN KEY([RequestID])
REFERENCES [dbo].[WorkRequest] ([RequestID])
GO
ALTER TABLE [dbo].[SpaceDetails]  WITH CHECK ADD FOREIGN KEY([RequestID])
REFERENCES [dbo].[WorkRequest] ([RequestID])
GO
ALTER TABLE [dbo].[SpaceDetails]  WITH CHECK ADD FOREIGN KEY([RequestID])
REFERENCES [dbo].[WorkRequest] ([RequestID])
GO
ALTER TABLE [dbo].[SpaceDetails]  WITH CHECK ADD FOREIGN KEY([RequestID])
REFERENCES [dbo].[WorkRequest] ([RequestID])
GO
ALTER TABLE [dbo].[SpaceDetails]  WITH CHECK ADD FOREIGN KEY([RequestID])
REFERENCES [dbo].[WorkRequest] ([RequestID])
GO
ALTER TABLE [dbo].[WorkRequest]  WITH CHECK ADD FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customer] ([CustomerID])
GO
/****** Object:  StoredProcedure [dbo].[AddParquetType]    Script Date: 26/06/2025 18:09:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddParquetType]
    @TypeName NVARCHAR(255),
    @PricePerUnit DECIMAL(10, 2),
    @ImageURL NVARCHAR(500),
	@Type NVARCHAR(255)
AS
BEGIN
    INSERT INTO ParquetTypes (TypeName, PricePerUnit, ImageURL, IsActive,[Type])
    VALUES (@TypeName, @PricePerUnit, @ImageURL, 1,@Type);
END
GO
/****** Object:  StoredProcedure [dbo].[AddPriceCalculatorItem]    Script Date: 26/06/2025 18:09:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddPriceCalculatorItem]
    @ItemName NVARCHAR(255),
    @Description NVARCHAR(255),
    @Price DECIMAL(10, 2)
    
AS
BEGIN
    

    INSERT INTO PriceCalculatorItem (ItemName, Description, Price, IsActive)
    VALUES (@ItemName, @Description, @Price, 1);

    SELECT SCOPE_IDENTITY() AS NewCalculatorItemID;
END;
GO
/****** Object:  StoredProcedure [dbo].[AddQuote]    Script Date: 26/06/2025 18:09:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddQuote]
    @RequestID INT,
    @TotalPrice DECIMAL(10, 2),
    @DiscountAmount DECIMAL(10, 2) = NULL,
    @DiscountPercent DECIMAL(5, 2) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO Quote (RequestID, TotalPrice, DiscountAmount, DiscountPercent)
    VALUES (@RequestID, @TotalPrice, @DiscountAmount, @DiscountPercent);

    SELECT SCOPE_IDENTITY() AS NewQuoteID;
END
GO
/****** Object:  StoredProcedure [dbo].[AddQuoteItem]    Script Date: 26/06/2025 18:09:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddQuoteItem]
    @QuoteID INT,
    @CalculatorItemID INT = NULL,
    @CustomItemName NVARCHAR(255) = NULL,
    @PriceForItem DECIMAL(10, 2),
    @Quantity INT,
    @FinalPrice DECIMAL(10, 2),
    @Notes NVARCHAR(255) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    -- הכנסת פריט להצעת מחיר
    INSERT INTO QuoteItem 
    (QuoteID, CalculatorItemID, CustomItemName, PriceForItem, Quantity, FinalPrice, Notes)
    VALUES 
    (@QuoteID, @CalculatorItemID, @CustomItemName, @PriceForItem, @Quantity, @FinalPrice, @Notes);

    -- בדיקת מועמדים
    IF @CalculatorItemID IS NULL AND @CustomItemName IS NOT NULL
    BEGIN
        EXEC UpsertCalculatorItemCandidate @CustomItemName, @PriceForItem;
    END

    SELECT SCOPE_IDENTITY() AS NewQuoteItemID;
END
GO
/****** Object:  StoredProcedure [dbo].[AssignRequestToSlot]    Script Date: 26/06/2025 18:09:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AssignRequestToSlot]
    @RequestID INT,
    @Date DATE,
    @Slot INT
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE WorkRequest
    SET
        PlannedDate = @Date,
        PreferredSlot = @Slot,
        Status = N'תיאום התקנה'
    WHERE
        RequestID = @RequestID;
END
GO
/****** Object:  StoredProcedure [dbo].[CreatePriceCalculatorItemFromCandidate]    Script Date: 26/06/2025 18:09:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CreatePriceCalculatorItemFromCandidate]
    @CustomItemName NVARCHAR(255)
AS
BEGIN
    DECLARE @Price DECIMAL(10,2)

    -- שלב 1: בדיקה אם כבר נוצר רכיב במחשבון עם אותו שם
    IF EXISTS (
        SELECT 1 
        FROM PriceCalculatorItem 
        WHERE ItemName = @CustomItemName
    )
    BEGIN
        RAISERROR('already exists!!!', 16, 1)
        RETURN
    END


    SELECT TOP 1 @Price = SuggestedPrice
    FROM CalculatorItemCandidates
    WHERE CustomItemName = @CustomItemName AND IsCreated = 0


    INSERT INTO PriceCalculatorItem (ItemName, Description, Price, IsActive)
    VALUES (@CustomItemName, @CustomItemName, @Price, 1)

    UPDATE CalculatorItemCandidates
    SET IsCreated = 1
    WHERE CustomItemName = @CustomItemName
END
GO
/****** Object:  StoredProcedure [dbo].[DeactivateCustomer]    Script Date: 26/06/2025 18:09:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeactivateCustomer]
    @CustomerID INT
AS
BEGIN
    UPDATE Customer
    SET IsActive = 0
    WHERE CustomerID = @CustomerID;
END
GO
/****** Object:  StoredProcedure [dbo].[DeleteParquetType]    Script Date: 26/06/2025 18:09:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteParquetType]
    @ParquetTypeID INT
AS
BEGIN
    UPDATE ParquetTypes
    SET IsActive = 0
    WHERE ParquetTypeID = @ParquetTypeID
END
GO
/****** Object:  StoredProcedure [dbo].[DeletePriceCalculatorItem]    Script Date: 26/06/2025 18:09:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[DeletePriceCalculatorItem] 
	@CalculatorItemID int
AS
BEGIN
	update PriceCalculatorItem
	set IsActive=0
	where CalculatorItemID =@CalculatorItemID
END
GO
/****** Object:  StoredProcedure [dbo].[GetAllParquetTypes]    Script Date: 26/06/2025 18:09:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetAllParquetTypes]
AS
BEGIN
    SELECT 
        ParquetTypeID,
        TypeName,
        PricePerUnit,
        ImageURL,
        IsActive,
		[Type]
    FROM ParquetTypes
    WHERE IsActive = 1
END
GO
/****** Object:  StoredProcedure [dbo].[GetAllPriceCalculatorItems]    Script Date: 26/06/2025 18:09:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetAllPriceCalculatorItems]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        CalculatorItemID,
        ItemName,
        [Description],
        Price,
        IsActive
    FROM PriceCalculatorItem
	where IsActive=1
END
GO
/****** Object:  StoredProcedure [dbo].[GetDashboardData]    Script Date: 26/06/2025 18:09:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetDashboardData]
  @CustomerID INT = NULL,
  @City NVARCHAR(255) = NULL,
  @FromDate DATETIME = NULL,
  @ToDate DATETIME = NULL,
  @FloorType NVARCHAR(100) = NULL,
  @Status NVARCHAR(50) = NULL
AS
BEGIN
  --################## עבור לקוח ספציפי ##################
  IF @CustomerID IS NOT NULL
  BEGIN
    SELECT 
      c.CustomerID,
      c.FirstName,
      c.LastName,
      c.Phone,
      c.City,
      c.Street,
      c.Number,
      c.Notes,
      c.CreatedAt AS CustomerCreatedAt,
      c.Email,
      wr.RequestID,
      wr.PlannedDate,
      wr.CompletedDate,
      wr.PreferredDate,
      wr.PreferredSlot,
      wr.Status,
      sd.SpaceID,
      sd.Size,
      sd.FloorType,
      sd.ParquetType,
      sd.Notes AS SpaceNotes
    FROM Customer c
    INNER JOIN WorkRequest wr ON c.CustomerID = wr.CustomerID
    LEFT JOIN SpaceDetails sd ON wr.RequestID = sd.RequestID
    WHERE 
      (@CustomerID IS NULL OR c.CustomerID = @CustomerID)
      AND (@City IS NULL OR c.City = @City)
      AND (@FromDate IS NULL OR wr.PlannedDate >= @FromDate)
      AND (@ToDate IS NULL OR wr.PlannedDate <= @ToDate)
      AND (@FloorType IS NULL OR sd.FloorType = @FloorType)
      AND (@Status IS NULL OR wr.Status = @Status)
  END

  --################## עבור כל הלקוחות (תצוגה מקובצת) ##################
  ELSE
  BEGIN
    SELECT 
      c.CustomerID,
      c.FirstName,
      c.LastName,
      c.Phone,
      c.City,
      c.Street,
      c.Number,
      c.Notes,
      c.CreatedAt AS CustomerCreatedAt,
      c.Email,
      wr.RequestID,
      wr.PlannedDate,
      wr.CompletedDate,
      wr.PreferredDate,
      wr.PreferredSlot,
      wr.Status,
      COUNT(sd.SpaceID) AS SpaceCount,
      SUM(sd.Size) AS TotalSpaceSize,
     STUFF((
  SELECT ', ' + sd2.ParquetType
  FROM SpaceDetails sd2
  WHERE sd2.RequestID = wr.RequestID
    AND sd2.ParquetType IS NOT NULL
  FOR XML PATH(''), TYPE).value('.', 'NVARCHAR(MAX)'), 1, 2, '') AS FloorTypes

    FROM Customer c
    INNER JOIN WorkRequest wr ON c.CustomerID = wr.CustomerID
    LEFT JOIN SpaceDetails sd ON wr.RequestID = sd.RequestID
    WHERE 
      (@City IS NULL OR c.City = @City)
      AND (@FromDate IS NULL OR wr.PlannedDate >= @FromDate)
      AND (@ToDate IS NULL OR wr.PlannedDate <= @ToDate)
      AND (@FloorType IS NULL OR sd.FloorType = @FloorType)
      AND (@Status IS NULL OR wr.Status = @Status)
      AND c.IsActive = 1
    GROUP BY 
      c.CustomerID, c.FirstName, c.LastName, c.Phone, c.City, c.CreatedAt,
      wr.RequestID, wr.PlannedDate, wr.CompletedDate, wr.PreferredDate, wr.Status,
      c.Email, c.Street, c.Number, c.Notes, wr.PreferredSlot
  END
END
GO
/****** Object:  StoredProcedure [dbo].[GetQuoteDetailsByCustomerID]    Script Date: 26/06/2025 18:09:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetQuoteDetailsByCustomerID]
    @CustomerID INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        wr.RequestID,
        wr.PlannedDate,
        wr.CompletedDate,
        wr.Status,

        q.QuoteID,
        q.TotalPrice,
        q.DiscountAmount,
        q.DiscountPercent,
        q.CreatedAt,

        qi.QuoteItemID,
        qi.CalculatorItemID,
        qi.CustomItemName,
        qi.PriceForItem,
        qi.Quantity,
        qi.FinalPrice,
        qi.Notes

    FROM WorkRequest wr
    INNER JOIN Quote q ON wr.RequestID = q.RequestID
    INNER JOIN QuoteItem qi ON q.QuoteID = qi.QuoteID

    WHERE wr.CustomerID = @CustomerID
      AND q.QuoteID = (
          SELECT TOP 1 qInner.QuoteID
          FROM WorkRequest wrInner
          INNER JOIN Quote qInner ON wrInner.RequestID = qInner.RequestID
          WHERE wrInner.CustomerID = @CustomerID
          ORDER BY qInner.CreatedAt DESC
      )
END
GO
/****** Object:  StoredProcedure [dbo].[GetScheduleSlots]    Script Date: 26/06/2025 18:09:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetScheduleSlots]
    @FromDate DATE,
    @ToDate DATE
AS
BEGIN
    SELECT 
        SlotID,
        [Date],
        Slot,
        Status,
        RequestID
    FROM ScheduleSlot
    WHERE [Date] BETWEEN @FromDate AND @ToDate
    ORDER BY [Date], Slot;
END
GO
/****** Object:  StoredProcedure [dbo].[GetUncreatedPopularCandidates]    Script Date: 26/06/2025 18:09:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetUncreatedPopularCandidates]
    @MinOccurrences INT = 3
AS
BEGIN
    SELECT 
        CandidateID,
        CustomItemName,
        SuggestedPrice,
        SuggestedDescription,
        Occurrences
    FROM CalculatorItemCandidates
    WHERE 
        Occurrences >= @MinOccurrences
        AND IsCreated = 0
		AND WasRejected = 0
    ORDER BY Occurrences DESC
END
GO
/****** Object:  StoredProcedure [dbo].[InsertCustomer]    Script Date: 26/06/2025 18:09:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Oshri>
-- Create date: <30/03>
-- Description:	<this proc insert new client to the database after register>
-- =============================================
CREATE PROCEDURE [dbo].[InsertCustomer]
    @FirstName NVARCHAR(255),
    @LastName NVARCHAR(255),
    @Phone NVARCHAR(50),
    @Email NVARCHAR(255),
    @City NVARCHAR(255),
    @Street NVARCHAR(255),
    @Number NVARCHAR(50),
    @Notes NVARCHAR(255)
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO Customer (FirstName, LastName, Phone, Email, City, Street, Number, Notes)
    VALUES (@FirstName, @LastName, @Phone, @Email, @City, @Street, @Number, @Notes);

    -- Return the new CustomerID generated by the identity column
    SELECT CAST(SCOPE_IDENTITY() AS INT) AS NewCustomerID;
END

GO
/****** Object:  StoredProcedure [dbo].[InsertSpaceDetails]    Script Date: 26/06/2025 18:09:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertSpaceDetails]
    @RequestID INT,
    @Size DECIMAL(10,2),
    @FloorType NVARCHAR(100),
    @MediaURL NVARCHAR(255),
    @Notes NVARCHAR(MAX),
	@ParquetType nvarchar(100)
AS
BEGIN
    INSERT INTO SpaceDetails (RequestID, Size, FloorType, MediaURL, Notes,ParquetType)
    VALUES (@RequestID, @Size, @FloorType, @MediaURL, @Notes,@ParquetType)
END
GO
/****** Object:  StoredProcedure [dbo].[InsertWorkRequest]    Script Date: 26/06/2025 18:09:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertWorkRequest]
    @CustomerID INT,
	@PreferredDate datetime,
	@PreferredSlot INT,
    @RequestID INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO WorkRequest (CustomerID, Status, Notes,PreferredDate, PreferredSlot)
    VALUES (@CustomerID, N'צפייה בסרטון לקוח', NULL,@PreferredDate, @PreferredSlot);

    SET @RequestID = SCOPE_IDENTITY();
END

GO
/****** Object:  StoredProcedure [dbo].[ReactivateCustomer]    Script Date: 26/06/2025 18:09:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ReactivateCustomer]
    @CustomerID INT
AS
BEGIN
    UPDATE Customer
    SET IsActive = 1
    WHERE CustomerID = @CustomerID;
END
GO
/****** Object:  StoredProcedure [dbo].[RejectCalculatorItemCandidate]    Script Date: 26/06/2025 18:09:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RejectCalculatorItemCandidate]
    @CustomItemName NVARCHAR(255)
AS
BEGIN
    UPDATE CalculatorItemCandidates
    SET WasRejected = 1
    WHERE CustomItemName = @CustomItemName
END
GO
/****** Object:  StoredProcedure [dbo].[SetCompletedTimeOnStatusChange]    Script Date: 26/06/2025 18:09:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SetCompletedTimeOnStatusChange] 
    @CustomerID INT
AS
BEGIN
    UPDATE WorkRequest
    SET CompletedDate = GETDATE()
    WHERE CustomerID = @CustomerID
      AND Status = N'התקנה בוצעה'
      AND CompletedDate IS NULL;
END
GO
/****** Object:  StoredProcedure [dbo].[UpdateCustomerDetails]    Script Date: 26/06/2025 18:09:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateCustomerDetails]
    @CustomerID INT,
    @FirstName NVARCHAR(255) = NULL,
    @LastName NVARCHAR(255) = NULL,
    @Phone NVARCHAR(50) = NULL,
    @Email NVARCHAR(255) = NULL,
    @City NVARCHAR(255) = NULL,
    @Street NVARCHAR(255) = NULL,
    @Number NVARCHAR(50) = NULL,
    @Notes NVARCHAR(255) = NULL
AS
BEGIN
    UPDATE Customer
    SET
        FirstName = ISNULL(@FirstName, FirstName),
        LastName = ISNULL(@LastName, LastName),
        Phone = ISNULL(@Phone, Phone),
        Email = ISNULL(@Email, Email),
        City = ISNULL(@City, City),
        Street = ISNULL(@Street, Street),
        Number = ISNULL(@Number, Number),
        Notes = ISNULL(@Notes, Notes)
    WHERE CustomerID = @CustomerID;
END
GO
/****** Object:  StoredProcedure [dbo].[UpdateParquetType]    Script Date: 26/06/2025 18:09:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateParquetType]
    @ParquetTypeID INT,
    @TypeName NVARCHAR(255) = NULL,
    @PricePerUnit DECIMAL(10, 2) = NULL,
    @ImageURL NVARCHAR(500) = NULL,
	@Type NVARCHAR(255) = NULL
AS
BEGIN
    UPDATE ParquetTypes
    SET 
        TypeName = ISNULL(@TypeName, TypeName),
        PricePerUnit = ISNULL(@PricePerUnit, PricePerUnit),
        ImageURL = ISNULL(@ImageURL, ImageURL),
		[Type] = ISNULL(@Type, [Type])
    WHERE ParquetTypeID = @ParquetTypeID
END
GO
/****** Object:  StoredProcedure [dbo].[UpdatePriceCalculatorItem]    Script Date: 26/06/2025 18:09:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[UpdatePriceCalculatorItem]
    @CalculatorItemID INT,
    @ItemName NVARCHAR(255),
    @Description NVARCHAR(255),
    @Price DECIMAL(10, 2),
	@IsActive BIT
AS
BEGIN
    UPDATE PriceCalculatorItem
    SET 
        ItemName = @ItemName,
        [Description] = @Description,
        Price = @Price,
		IsActive = isnull(@IsActive,1)
    WHERE CalculatorItemID = @CalculatorItemID;
END
GO
/****** Object:  StoredProcedure [dbo].[UpdateSpaceDetails]    Script Date: 26/06/2025 18:09:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateSpaceDetails]
    @SpaceID INT,
    @RequestID INT = NULL,
    @Size DECIMAL(10,2) = NULL,
    @FloorType NVARCHAR(100) = NULL,
    @MediaURL NVARCHAR(255) = NULL,
    @Notes NVARCHAR(255) = NULL,
    @ParquetType NVARCHAR(100) = NULL
AS
BEGIN
    UPDATE SpaceDetails
    SET
        RequestID = ISNULL(@RequestID, RequestID),
        Size = ISNULL(@Size, Size),
        FloorType = ISNULL(@FloorType, FloorType),
        MediaURL = ISNULL(@MediaURL, MediaURL),
        Notes = ISNULL(@Notes, Notes),
        ParquetType = ISNULL(@ParquetType, ParquetType)
    WHERE SpaceID = @SpaceID;
END
GO
/****** Object:  StoredProcedure [dbo].[UpdateWorkRequestStatus]    Script Date: 26/06/2025 18:09:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateWorkRequestStatus]
    @RequestID INT,
    @NewStatus NVARCHAR(50)
AS
BEGIN
    UPDATE WorkRequest
    SET Status = @NewStatus
    WHERE RequestID = @RequestID
END
GO
/****** Object:  StoredProcedure [dbo].[UpsertCalculatorItemCandidate]    Script Date: 26/06/2025 18:09:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpsertCalculatorItemCandidate]
    @CustomItemName NVARCHAR(255),
    @Price DECIMAL(10,2)
AS
BEGIN
--אם כבר קיים נוסיף מופע ונחשב מחדש את ממוצע המחיר
    IF EXISTS (
        SELECT 1 FROM CalculatorItemCandidates WHERE CustomItemName = @CustomItemName
    )
    BEGIN
        UPDATE CalculatorItemCandidates
        SET 
            Occurrences = Occurrences + 1,
            SuggestedPrice = (SuggestedPrice * (Occurrences * 1.0) + @Price) / (Occurrences + 1)
        WHERE CustomItemName = @CustomItemName
    END
    ELSE
	--אם לא קיים ניצור אותו
    BEGIN
        INSERT INTO CalculatorItemCandidates (CustomItemName, SuggestedPrice, SuggestedDescription)
        VALUES (@CustomItemName, @Price, @CustomItemName)
    END
END
GO
USE [master]
GO
